name = "sendvid-proxy-tester"
main = "src/index.js"
compatibility_date = "2024-01-01"

[vars]
TRUSTED_REFERER = "https://facebook.com"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1
